.example-container {
  width: 100vw;
  height: 92vh;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #eee;
}
.categories-container{
  padding: 15px;
}

nav{
  background-color: yellow;
}
.container-detail-torta{
  justify-content: center;
}

@media screen and (max-width:800px) {
  .example-container{
    width: 100vw;
    .categories-container{
      width: 100vw;
    }
    .hijo-sidenav{
      width: 100vw;
    }
    .drawer-content{
      display: flex;
      justify-content: start;
      gap: 1em;
    }
    .btn-desplegable{
      display: none;
    }
    .breadcrumb{
      display: none;
    }
    .container-detail-torta{
      text-align: center;
      justify-content: center;
      .img-torta{
        width: 100vw;
      }
      .porciones{
        width: 81vw;
      }
    }

  }

}
