<app-nav-bar [drawer]="drawer" [drawer2]="drawer2" [count]="count"></app-nav-bar>
<mat-drawer-container class="example-container">

  <mat-drawer #drawer2 class="categories-container" mode="side" opened>
    <h6 class="fw-bold">CATEGORIAS</h6>
    <app-list-categories [tortasByCategory]="tortasByCategory" [categoryId]="categoryId" [tortaId]="tortaId"></app-list-categories>
  </mat-drawer>
  <mat-drawer #drawer class="hijo-sidenav" mode="side" position="end">
    <app-list-tortas-cart [tortasSeleccionados]="tortasCarrito"/>
  </mat-drawer>
  <mat-drawer-content>
    <div class="d-flex justify-content-start gap-2">
      <div>
        <button
          mat-icon-button
          class="favorite-icon"
          (click)="drawer2.toggle()"
        >
          <mat-icon matBadgeColor="accent" aria-hidden="false"
            >menu</mat-icon
          >
        </button>
      </div>
      <div class="pt-2"><app-breadcrumb
      [category]="categoryBreadCrumb"
      [torta]="tortaBreadCrumb"
    ></app-breadcrumb></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 justify-content-center">
        @if(tortaDetail != null){
          <h5>{{ tortaDetail.name }}</h5>
          <p>{{ tortaDetail.description }}</p>
        }
      </div>
      <div class="col-8">
        <img
          src="{{ tortaDetail?.img }}"
          alt="image{{ tortaDetail?.id }}"
          width="80%"
        />
      </div>
      <div class="col-3">
        <div class="d-flex flex-column">
          <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="porciones">
                <th mat-header-cell *matHeaderCellDef>Porciones</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.porciones }}
                </td>
              </ng-container>
              <ng-container matColumnDef="tamanio">
                <th mat-header-cell *matHeaderCellDef>Tamaño</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.tamanio }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <div class="pt-2">
            <p>
              PRECIO:
              <span>Desde {{ tortaDetail?.price | currency : "S/." }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
