.example-container {
  width: 100vw;
  height: 92vh;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #eee;
}
.categories-container{
  padding: 15px;
}

nav{
  background-color: yellow;
}
