<mat-card class="snap-card" appearance="outlined">
  <!-- <mat-card-header>
    <div mat-card-avatar class="snap-header-image"></div>
  <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{type}}</mat-card-subtitle>
  </mat-card-header> -->
  <img mat-card-image src="{{torta?.img}}" alt="image-{{torta?.name}}">
  <mat-card-content>
    <!-- <p>
      {{description}}
    </p> -->
    <div class="text-center">
      <mat-card-title><a [routerLink]="['/catalogo'+ '/'+categoryName.split(' ').join('-').toLowerCase()+'/'+torta?.name]" (click)="this.cardEmitter.emit(this.id)">{{torta?.name}}</a></mat-card-title>
      <div class="pt-2"><a [routerLink]="['/catalogo'+ '/'+categoryName.split(' ').join('-').toLowerCase()+'/'+torta?.name]" (click)="this.cardEmitter.emit(this.id)">Desde: {{torta?.price| currency:'S/.' }}</a></div>
    </div>
  </mat-card-content>
  <mat-card-actions>
		<button mat-raised-button color="primary" (click)="clickAddToCard()">Agregar al carrito</button>
	</mat-card-actions>
  <!-- <mat-card-actions>
    <button mat-button [disabled]="isValid" (click)="handleSubmit(id)">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
