.snap-card {
  max-width: 20vw;
}

.snap-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

@media screen and (max-width:800px) {
  .snap-card{
    max-width: 80vw;
  }
}
