.example-container {
  width: 100vw;
  height: 100vh;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #eee;
}

.categories-container{
  padding: 20px;
}

nav{
  background-color: yellow;
}
