.example-container {
  width: auto;
  height: 100vh;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #eee;
}
a{
  text-decoration: none;
  cursor: pointer;
}
