<app-nav-bar [drawer]="drawer" [drawer2]="drawer2" [count]="count"></app-nav-bar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" #drawer2 class="categories-container" opened>
    <h6 class="fw-bold">CATEGORIAS</h6>
    <app-list-categories [categoryId]="0" [tortaId]="0"></app-list-categories>
    <!-- <mat-list role="list">
      @for(category of dataCategoria; track category.id){
      <a [routerLink]="['/catalogo', category.name.split(' ').join('-').toLowerCase()]" (click)="onGetTortasByCategory(category.id)">
        <h6>{{ category.name }}</h6>
      </a>
        @for(torta of tortasByCategory; track torta.id){
        <a [routerLink]="['/'+category.name.split(' ').join('-').toLowerCase()+'/'+torta.name.split(' ').join('-').toLowerCase()]" (click)="onGetTortaDetail(torta.id)"><mat-list-item role="listitem">
          <span matListItemTitle>{{ torta.name }}</span>
        </mat-list-item>
        </a>
       }
      }
    </mat-list> -->
  </mat-drawer>
  <mat-drawer #drawer class="hijo-sidenav" mode="side" position="end">
    <app-list-tortas-cart [tortasSeleccionados]="tortasSeleccionados" />
  </mat-drawer>
  <mat-drawer-content>
    <div class="d-flex justify-content-start gap-2">
      <div>
        <button
          mat-icon-button
          class="favorite-icon"
          (click)="drawer2.toggle()"
        >
          <mat-icon matBadgeColor="accent" aria-hidden="false"
            >menu</mat-icon
          >
        </button>
      </div>
      <div class="pt-2"><app-breadcrumb
    ></app-breadcrumb></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
