<!-- <div class="d-flex justify-content-center vh-100 gap-1 align-items-center">
  @for(crd of data; track crd.id){
    <snap-card
      [id] = crd.id
      [title]="crd.title"
      [description]="crd.description"
      [type]="crd.type"
      (childEmitter)="printType($event)"
      (childEmitterFromOutput)="printTypeOutput($event)"
    ></snap-card>
  }
</div> -->
<nav class="navbar navbar-light bg-gray">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="asset/logo.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Tortelín
    </a>
    <ul class="navbar-nav d-flex flex-row gap-4">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/catalago">Catálogo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">Locales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Delivery 🚚 971 147 072</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


