.example-container {
  width: 100vw;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #eee;
}
.contenedor_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

@media screen and (max-width:800px) {
  .mat-drawer{
    width: 100vw; 
    height: auto;
    .list_cart{
    display: flex;
    justify-content: center;
    }
  }
  
  .card-body{
    h4{
      font-size: 23px;
    }
    p{
      font-size: large;
    }
    .contenedor_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    align-content: center;
    }
  }
}
