/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a{
 text-decoration: none;
 color: #6f7170;
}:hover{
  color: #96588a;
}
h6{
  color: #96588a;
}

